<!-- templates/listbook.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Libros con valoración mayor a 1500</h1>
    <ul class="list-group">
        {% for libro in libros_valoracion_alta %}
            <li class="list-group-item">Título: {{ libro.titulo }}, Autor: {{ libro.autor }}, Valoración: {{ libro.valoracion }}</li>
        {% endfor %}
    </ul>

    <h1 class="mt-5">Listado de todos los libros</h1>
    <ul class="list-group">
        {% for libro in libros %}
            <li class="list-group-item">Título: {{ libro.titulo }}, Autor: {{ libro.autor }}, Valoración: {{ libro.valoracion }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
