<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Libros</title>
  </head>
  <body>
    <h1>Libros con valoración mayor a 1500</h1>
    <ul>
      {% for libro in libros_valoracion_alta %}
      <li>
        Título: {{ libro.titulo }}, Autor: {{ libro.autor }}, Valoración: {{libro.valoracion }}
      </li>
      {% endfor %}
    </ul>
    <h1>Listado de todos los libros</h1>
    <ul>
      {% for libro in libros %}
      <li>
        Título: {{ libro.titulo }}, Autor: {{ libro.autor }}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
