<!-- templates/listbook.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Libros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.html' %} <!-- Incluir el navbar -->
    <div class="container">
        <h1>Listado de Libros</h1>
        <!-- Eliminar el formulario de búsqueda -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Valoración</th>
                    <th>Rating</th> <!-- Nuevo campo de rating -->
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.valoracion }}</td>
                    <td>{{ libro.rating }}</td> <!-- Mostrar el rating -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
